//// Variables
// Measurements
$max-container-width: 720px;
$max-text-width: 700px; // must be smaller than $max-container-width
$head-space: 10px;
// Colors
$body-text-color: #111111;
$a-text-color: #0074D9;
$a-text-color-visited: #F012BE;
// Typography
$font-stack: Georgia, serif;

html, button, input, select, textarea {
    font-family: $font-stack;
    color: $body-text-color;
}

div#container {
    max-width: $max-container-width;
    padding: $head-space ($max-container-width - $max-text-width) 0;
    margin: 0 auto;
}

a {
    color: $a-text-color;
    &:visited {
        color: $a-text-color-visited;   
    }
}

hr {
    height: 1px;
    border: 0;
    width: 85%;
    margin: 1em auto;
    background-color: $body-text-color;
}
